[Desktop Entry]
Type=Application
Name=Tidverk
Comment=Local timesheets and Excel export
Exec="@EXECUTABLE@"
TryExec=@EXECUTABLE@
Icon=tidverk
Terminal=false
Categories=Office;Utility;
StartupNotify=true
